<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"/>
<title>Insert title here</title>
</head>
<body>

<h1>Spring Boost !</h1>

<a href="https://spring.io/"> avec Spring.. Boost !</a>

<h1 th:text="${ titre }"></h1>
<h2 th:text="${ cle }"> </h2>
<span th:text="${ titre }"></span>

<p> Spring est un conteneur dont l'appellation est prononcé "léger" </p>

<p> 
<span th:text="${ nombreA }"> </span>
</p>

<p th:text="${ doubleD }"> </p>

<p> 
<span th:txt="${ booleanB }"> </span>
</p>

</body>
</html>